
<div id="banners">
  <% home_pictures.each_with_index do |picture, index| %>
    <div class="banner" style="<%= 'display: none' if index > 0 %>">
      <%= link_to picture.picturable do %>
        <%= picture(picture, :original, alt: picture.picturable.title) %>
      <% end %>
    </div>
  <% end %>
</div>