<% url = album_path(album) %>

<article>
  <div class="row-fluid">
    <div class="span12">
      <%= link_to(url) do %>
        <%= picture(album.pictures.first, :original, {
          alt: album.title,
          title: album.title
        }) %>
      <% end %>
    </div>
  </div>
</article>