<article>
  <div class="hero-unit">
    <h1><%= @album.title %></h1>
  </div>
  
  <div class="row-fluid">
    <div class="span8"></div>
    <div class="span4">
      <%= facebook_like_buttom(
        image: request.base_url + @album.pictures.first.file.url(:medium),
        title: @album.title,
        type: :article
      )%>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= simple_format(@album.body) if @album.body? %>
    </div>
  </div>

  <% @album.pictures.each do |picture| %>
    <div class="row-fluid">
      <div class="span12">
        <%= picture(picture) %>
      </div>
    </div>
  <% end %>

</article>